* {
  border: 0;
  margin: 0;
  padding: 0; 
  text-decoration: none;
}

li {
  list-style-type: none; 
}
/* .wrapper {
  max-width: 1280px;
  margin: 0 auto;
} */
.container {
  /* background: rgb(228, 165, 165); */
  max-width: 1020px; /* 1040px */
  margin: 0 auto;
  padding: 10px;
}
.pl-10 {
  padding: 0 0 0 10px;
}
.ml-40 {
  margin-left: 40px;
}
.mt-30 {
  margin-top: 30px;
}

.header {
  height: 480px;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 7px;
}
.header__logo {
  /* margin-top: 7px; */
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
  /* flex: 30%; */
}
.header__nav {
  /* flex: 70%; */
  position: relative;
  /* margin-top: 22px; */
}

/* a.header__link:active {
  color: rgba(51, 255, 0, 0.8);
}  */

a.header__link {
  padding: 0px 5px 10px 5px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: rgba(255, 255, 255, 0.64);
  /* white-space: nowrap; */
}
a.header__link:hover {
  cursor: pointer;
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
}
a.header__link-active {
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
}
/* .header__nav li {
  display: inline;
  margin-left: 64px;
  white-space: nowrap;
} */
.header__links-position {
  display: flex;
  justify-content: space-between;
}
.header__links-position li {
  display: inline;
  margin-left: 64px;
  white-space: nowrap;
}
.header__login {
  display: none; 
  position: absolute;
  padding: 16px 32px;
  top: 30px;
  left: 52%;
  font-family: 'Public Sans', sans-serif;
  width: 261px;
  /* max-height: 164px; */
  background: linear-gradient(rgba(0, 94, 176, 1), rgba(34, 77, 133, 1));
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.64);
}
.exit__modal {
  display: block;
}
.header__login:hover {
  cursor: pointer;
}
.active {
  display: block;
}
#signUpBtn {
  display: none;
}
.header__login-inp {
  margin-top: 16px;
  width: 92%;
  background: transparent;
  border: none;
  height: 32px;
  padding-left: 15px;
  outline: none;
  border: rgba(255, 255, 255, 0.88) 1px solid;
  color: rgb(255, 255, 255);
}
.header__login-inp::placeholder {
  color: rgba(255, 255, 255, 0.64);
}
.header__login-submit {
  margin-top: 16px;
  padding: 8px 16px;
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  background: rgba(4, 9, 42, 1);
  border: rgba(4, 9, 42, 1) 1px solid;
  transition: all 0.3s ease;
}
.header__login-submit:hover {
  background-color: rgb(245, 245, 245);
  background: transparent;
  color: #FFFFFF;
  border: #FFFFFF 1px solid;
  cursor: pointer;
  transition: all 0.3s ease;
}
.header__login-btn {
  background: none;
  color: rgba(255, 255, 255);
  border-bottom: 1px solid white;
  cursor: pointer;
}
.header__login-text {
  margin-top: 12px;
  font-family: 'Public Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
}
.header__content {
  max-width: 494px;
  margin-top: 44px;
  color: rgba(255, 255, 255, 1);
  font-family: 'Roboto', sans-serif;
}
.header__content h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}
.header__content p {
  margin: 24px 0;
  font-family: 'Public Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}
.header__content-btn {
  color: rgba(0, 94, 176, 1);
  padding: 12px 24px;
  background-color: rgba(255, 255, 255, 1);
  border: #FFFFFF 1px solid;
  border-radius: 4px;
  /* border-radius: 20px; */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  transition: all 0.3s ease;
}
.header__content-btn:hover {
  background-color: rgb(245, 245, 245);
  background: transparent;
  color: #FFFFFF;
  border: #FFFFFF 1px solid;
  cursor: pointer;
  transition: all 0.3s ease;
}
/* .header__nav li:last-of-type {
  margin-right: none;
} */
.burger__menu-btn {
  display: none;
  /* visibility: hidden; */
	width: 30px;
	height: 30px;
	position: relative;
	z-index:2;
	overflow: hidden;
}
.burger__menu-btn span {
	width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgb(255, 255, 255);
	transition: all 0.5s;
}
.burger__menu-btn:hover {
  cursor: pointer;
}
.burger__menu-btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}
.burger__menu-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}
.burger__menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 20%;
	height: 100%;
	padding: 15px;
	/* background-color: rgba(34, 77, 133, 1); */
  background-image: url(../img/bg.png);
	transform: translateX(-100%);
	transition: transform 0.5s; 
  z-index: 10;
}
.burger__menu.active {
	transform: translateX(0);
}
.burger__menu li {
	list-style-type: none;
  margin-top: 20px;
}
.burger__menu li a {
  color: #FFFFFF;
}
.burger__menu-btn.active span:first-of-type {
	transform: translateX(100%);
}
.burger__menu-btn.active span:nth-of-type(2) {
	top: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
}
.burger__menu-btn.active span:nth-of-type(3) {
	top: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
}

/* .news {
  background-color: cornflowerblue;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
} */

.news {
  /* background-color: cornflowerblue; */
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* margin-top: 40px; */
  padding-top: 30px;
  /* padding: 40px 0; */
  gap: 40px;
  height: 290px;
  /* flex: 1 1 auto; */
  align-items: flex-start;
  align-self: flex-end;
}

.news__card {
  /* background-color: coral; */
  color: #000000;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
/* max-width: 100%; */
  width: 200px;
  /* flex: 16%; */
  flex: 1 1 auto;
  /* align-self: flex-end; */
  padding: 32px;
  position: relative;
  bottom: 0px;
  /* margin: 16px 32px; */
  transition: all 0.3s ease; 
  /* transform-origin: top; */
}
.news__card:hover {
  /* background: rgba(0, 94, 176, 1); */
  background: linear-gradient(rgba(0, 94, 176, 1), rgba(34, 77, 133, 1));
  color: #FFFFFF;
  cursor: pointer;
  position: relative;
  bottom: 120px;
  /* bottom: 180px; */
  transition: all 0.3s ease; 
}
/* .news__card:hover .card__date .card__title .card__content .card__btn{
  color: #FFFFFF;
} */
/* .news__card-blue {
  display: none;
}
.news:hover .news__card {
  display: none;
}
.news:hover .news__card-blue {
  display: block;
} */

.news__card div:hover{
  color: #FFFFFF;
}
.news__card:hover > .overflow__text {
  display: block;
}
.news__card:hover > .card__btn {
  display: none;
}

/* .news__card-blue-gg {
  position: absolute;
}
.news__card-blue {
  background: rgba(0, 94, 176, 1);
  height: 367px;
  width: 325px;
  height: 367px;
} */

/* .news__card-blue div{
  color: #FFFFFF;
} */
.card__date {
  /* color: #103B5E; */
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
}
.card__title {
  margin-top: 6px;
  /* font-family: 'Inter', sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  white-space: nowrap;
}
.card__content {
  /* color: #444444; */
  font-family: 'Public Sans', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 16px 0;
}
.overflow__text {
  display: -webkit-box;
  /* max-width: 200px; */
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.card__btn {
  color: rgba(0, 94, 176, 1);
  background: transparent;
  border-bottom: solid 1px rgba(0, 94, 176, 1);
  cursor: pointer;
}



/* .news {

  width: 100%;
  color: #444444;

} */

/* .card__date {

  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
}
.card__title {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  white-space: nowrap;
}
.card__content {

  font-family: 'Public Sans', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 16px 0;
}
.card__btn {
  color: rgba(0, 94, 176, 1);
  background: transparent;
  border-bottom: solid 1px rgba(0, 94, 176, 1);
  cursor: pointer;
}
.cube {
  width: 240px;
  height: 259px;
  float: left;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  padding: 32px;
  margin: 15px 32px 40px 0px;
  transition: all 0.3s ease;
}
.cube:hover {
  background-color: rgba(0, 94, 176, 1);
  cursor: pointer;
  color: white !important;
}
.card__text-color:hover {
  color: white;
}
.block:hover {
  
  margin-bottom: 20px;
  transition: all 0.3s ease; 
}*/

.legislation__title {
  clear: both;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 36px;
}
.legislation__img {
  margin-top: 24px;
  width: 100%;
}
.legislation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 35px;
  padding: 0px 10px 40px 10px;
}
.legislation__item {
  margin-top: 32px;
  margin-left: 25px;
  /* padding-right: 5%; */
  flex: 42%;
  position: relative;
}
.mt-40 {
  margin-top: 40px;
}
/* .legislation__item:nth-child(3),:nth-child(4) {
  background-color: brown;
  margin-top: 40px;
} */
/* .legislation__item::before {
  content: url(../img/Item.png);
  position: absolute;
  height: 100%;
  top: 5px;
  left: -15px;
} */
.legislation__item-line {
  position: absolute;
  height: 100%;
  top: 5px;
  left: -34px;
}
.legislation__subtitle {
  color: rgba(0, 94, 176, 1);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
}
.legislation__content {
  padding: 16px 0;
  font-family: 'Public Sans', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.faq {
  height: 426px;
  background: linear-gradient(147.35deg, #005EB0 0%, #224D85 100%);
}
.faq__title {
  color: rgba(255, 255, 255, 0.96);
  margin-top: 30px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
}
.faq__content {
  display: flex;
  font-family: 'Public Sans', sans-serif;
}
.faq__content-btn {
  /* background: rgba(255, 255, 255, 0.64); */
  width: 323px;
  border: 1px solid transparent;
  height: 40px;
  color: rgba(255, 255, 255, 0.64);
  font-weight: 500;
  font-size: 18px;
  line-height: 40px;
  padding-left: 20px;
  margin-bottom: 12px;
  transition: all 0.3s ease;
  /* display: table-row; 
  vertical-align: middle; */
}
.faq__content-btn:hover{
  background: rgba(255, 255, 255, 0.64);
  border-left: 1px solid white;
  color: rgba(18, 85, 153, 1);
  cursor: pointer;
  transition: all 0.3s ease;
}
.faq__content-text {
  color: rgba(255, 255, 255, 0.88);
  margin: 30px;
  width: 55%;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
}

.footer {
  background: rgba(4, 9, 42, 1);
  /* height: 522px; */
}
.footer__content {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 522px;
}
.footer__contacts {
  /* margin: 110px 82px 174px 120px; */
  margin-top: 120px;
  /* width: 243px; */
  width: 253px;
  /* width: 445px; */
  color: rgba(255, 255, 255, 0.88);
  font-family: 'Public Sans', sans-serif;
}
.footer__contacts h3 {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
}
.footer__contacts p {
  margin-top: 32px;
  margin-left: 30px;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  position: relative;
}
.address__icon::before {
  content: url(../img/Vector.svg);
  position: absolute;
  left: -30px;
}
.phone__icon::before {
  content: url(../img/Vector2.svg);
  position: absolute;
  left: -30px;
}
.email__icon::before {
  content: url(../img/Vector3.svg);
  position: absolute;
  left: -30px;
}
.search__map {
  /* display:block; */
  position: absolute;
  left: 30%;
  margin: 0 auto;
  width: 100vw;
  height: 522px;
  margin-left: 82px;
}
.footer__copyright {
  padding: 28px 0;
  color: rgba(255, 255, 255, 0.64);
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
}

.login-block__header {
  background: rgba(4, 9, 42, 1);
  padding-bottom: 5px;
}

.login__product {
  height: 100vh;
  font-family: 'Roboto Mono', monospace;
}

.login__product-info h3 {
  text-align: center;
  color: rgba(0, 0, 0, 0.88);
  padding: 74px 0 60px 0;
  /* margin: 24px 0 32px 0; */
  font-family: 'Public Sans', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}
.login__product-info h4 {
  text-align: start;
  color: rgba(0, 0, 0, 0.88);
  padding: 64px 0 8px 0;
  /* margin: 24px 0 32px 0; */
  font-family: 'Public Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}
.login__info-position {
  display: flex;
  justify-content: space-between;
  font-family: 'Public Sans', sans-serif;
}
.login__info-text {
  font-family: 'Public Sans', sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  display: flex;
}
.login__info-bold {
  font-weight: 500;
  margin-right: 50px;
}
.login__info-links {
  color: #005EB0;
  text-decoration: solid underline #005EB0 1px;
  cursor: pointer;
}

.profile__table {
  font-family: 'Public Sans', sans-serif;
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns: 
    minmax(10%, 0.9fr)
    minmax(10%, 0.9fr)
    minmax(10%, 1fr)
    minmax(10%, 2.8fr)
    minmax(10%, 1.2fr)
    minmax(8%, 0.2fr)
    minmax(8%, 0.2fr);
    /* minmax(150px, 3.33fr)
    minmax(150px, 1.67fr); */
    /* border: 1px solid #ccc;
    border-spacing: 1px; */
    border-top: solid 1px #ccc;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
}

.profile__table thead,
tbody,
tr {
  display: contents;
}

.profile__table th,
td {
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.profile__table th {
  color: rgba(0, 0, 0, 0.88);
  /* position: sticky;
  top: 0; */
  /* background: #d1d1d1; */
  text-align: left;
  font-size: 1.1rem;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.profile__table td {
  border-bottom: solid 1px #ccc;
}
.profile__table-b {
  border-bottom: none;
}

/* th:nth-child(6) {
  border-right: 0;
} */

.login__table-type {
  color: rgba(175, 0, 0, 0.64);
}

th:last-child {
  border-left: 0;
}
tr:last-child {
  border-bottom: none;
}

.cinemaPage:hover {
  cursor: pointer;
  background-color: #f1f1f1;
}

/* .profile__table td {
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
} */

/* tr:nth-child(even) td {
  background: #f8f6ff;
} */

.login__pay {
  max-width: 220px;
  margin-top: 20px;
  margin-left: auto;
  font-family: 'Public Sans', sans-serif;
}
.login__pay-price {
  display: flex;
  /* justify-content: space-between; */
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  padding: 0 0 48px 0;
}
.login__pay-price div:nth-child(2) {
  margin-left: 16px;
}
.login__pay-text {
  margin-top: 12px;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: rgba(0, 0, 0, 0.48);
}
.login__pay-text img {
  margin: 15px 15px 15px 0;
}
.login__form-btn {
  margin-top: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  width: 100%;
  background: #04092A;
  border-radius: 2px;
  padding: 8px 0;
}
.login__form-btn:hover {
  cursor: pointer;
  background: #04092af3;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #b3d7ff;
}
.custom-checkbox:not(:disabled):active + label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}
.custom-checkbox:focus + label::before {
  box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
}
.custom-checkbox:focus:not(:checked) + label::before {
  border-color: #80bdff;
}
.custom-checkbox:checked + label::before {
  border-color: #f2f2f2;
  /* background-color: rgba(245, 247, 250, 0.5); */
  background: #ffffff;
  /* background-image: url(../img/Done.svg); */
  background-image: url(../img/icon.svg);
  background-size: contain;
}
.custom-checkbox:disabled + label::before {
  background-color: #e9ecef;
}
.checkbox {
  margin-bottom: 1em;
}
#myBtn {
  cursor: pointer;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 32px;
  border: 1px solid #888;
  max-width: 833px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal__card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: 'Public Sans', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.64);
}

.details__header {
  color: rgba(0, 0, 0, 0.8);
  margin-top: 60px;
  font-family: 'Roboto Mono', monospace;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  justify-content: space-between;
}
.details__header-date {
  flex: 44%;
}
.details__header-detailed {
  flex: 28%;
  font-family: 'Public Sans', sans-serif;
  font-weight: 700;
}
.details__header-id {
  flex: 28%;
  text-align: end;
}

.details__header-title {
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Public Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin: 45px 0 80px 0;
}
.details__info-position {
  display: flex;
  justify-content: space-between;
  margin: 64px 0 0 0;
}
.details__table-position {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: rgba(0, 0, 0, 0.8) solid 2px;
  border-bottom: rgba(0, 0, 0, 0.8) solid 2px;
  padding: 0 19px 0 12px;
}

.details__tables {
  margin-top: 114px;
  font-family: 'Public Sans', sans-serif;
}
.details__tables h3 {
  text-align: center;
  padding: 6px 0;
  font-family: 'Public Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}
.details__table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns: 
    minmax(10%, 0.8fr)
    minmax(10%, 0.6fr)
    minmax(10%, 0.5fr)
    minmax(10%, 0.6fr)
    minmax(25%, 1.5fr);
  border: none;
  border-bottom: 2px solid  rgba(0, 0, 0, 0.8);
}
.details__table thead,
tbody,
tr {
  display: contents;
}
.details__table th,
td {
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: none;
}
.details__table th {
  color: rgba(0, 0, 0, 0.88);
  /* position: sticky;
  top: 0; */
  /* background: #d1d1d1; */
  text-align: left;
  font-size: 1.1rem;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.details__table td:nth-child(3){
  font-weight: bold;
}

.modal__details {
  display: none;
  position: fixed; 
  z-index: 1; 
  /* padding-top: 80px;  */
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
}
@media screen and (max-width: 1024px) {
  .header__nav li {
    margin-left: 40px;
  }
  .modal__card-img {
    text-align: center;
    flex: 100%;
    order: 0;
  }
  .modal__card-text {
    order: 1;
  }
  .login__info-bold {
    margin-right: 10px;
  }
  .news {
    height: 580px;
  }
  .news__card:hover {
    bottom: 0px;
  }
  .footer__contacts {
    margin: 30px 0;
  }

}
@media screen and (max-width: 768px) {
  .header__nav li {
    margin-left: 5px;
    display: none;
  }
  /* .header__login {
    display: block;
    transform: translate(-50%, -50%);
    top: 100%;
    left: 25%;
    height: 400px;
  } */
  .burger__menu-btn {
    /* visibility: visible; */
    display: block;
  }
  .news {
    height: 880px;
  }
  .news__card {
    max-width: 100%;
    flex: 100%;
    margin: 16px;
  }
  .legislation__item {
    flex: 100%;
  }
  .faq {
    height: 100%;
  }
  .faq__content {
    display: block;
  }
  .footer__contacts {
    margin: 0;
    padding-top: 20px;
  }
  .faq__content-text {
    width: 90%;
  }
  .footer__content {
    display: block;
  }
  .search__map {
    margin: 0;
    padding: 20px 0;
  }
}

@media screen and (max-width: 425px) {
  .burger__menu {
    width: 100%;
  }
  .news__card {
    flex: 100%;
  }
  .faq__content-text {
    margin: 32px 10px;
  }
}
@media screen and (max-width: 375px) {
  .header {
    height: 100%;
  }
  .faq__content-btn {
    width: 94%;
    padding-left: 20px;
  }

}
@media screen and (max-width: 320px) {

}